
#headercomprar{
    display:none;
}
#backcompra{
    width:70%;
    height:100px;
    font-size:1em;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}
#comprarnft{
    width:80%;
    height:300px;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#imgnft{
    width:220px;
    height:260px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius:10px;
}
#imgnft > img {
    width:90%;
    height:auto;
}
#compra{
    width:250px;
    height:80%;
    display:flex;
    flex-flow: column nowrap;

    align-items: center;
}
#venededorusername{
    width:90%;
    height:50px;
    display:inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}
#venededorusername > img {
    width:30px;
    height:auto;
    border-radius:100px;
    margin-right:5px

}
#vendedordescription{
    width: 90%;
    min-height:80px;
    height:auto;
    font-size:0.9em;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left:5px;
}
#botoncomprar{
    width:120px;
    height:42px;
    background:#3A9335;
    border-radius:5px;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1em;
    margin-left:auto;
    cursor:pointer;
}
#botoncomprar:hover{
    background:#57a353;
}
#pricefinal{
    width:90%;
    height:50px;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left:auto;
    margin-top:30px;
}
#pricefinal > #price {
    width:80px;
    height:100%;
    font-size:1em;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#creditcard{
    width:350px;
    height:420px;
    background:white;
    border-radius:10px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
#creditcard > img {
    width:180px;
    height:auto;
    margin-top:20px;
}
#namecreditcard{
    width:100%;
    height:50px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left:50px;
    margin-top:5px;
}
#namecreditcard > input{
    width:250px;
    height:50px;
    border:none;
    border-bottom:1px solid #403D3D;
}
#namecreditcard >input:focus{
    outline:none;
}
#numbercreditcard{
    width:100%;
    height:50px;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left:32px;
    margin-top:5px;
    margin-bottom:10px;
}
#numbercreditcard > div{
    width:45%;
    height:50px;
}
#numbercreditcard > div > p{
    font-size:12px;
}
#numbercreditcard > div > input{
    width:70px;
    height:30px;
    border:none;
    border-bottom:1px solid #403D3D;
}
#numbercreditcard > div > input:focus{
    outline:none;
}
#nftconfirmar{
    width:120px;
    height:50px;
    background:#3A9335;
    border-radius:5px;
    color:white;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#confirmation{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:2;
    background:rgba(0, 0, 0, 0.39);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
#successful{
    width:350px;
    height:420px;
    background:white;
    border-radius:10px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
#successful > img {
    width:170px;
    height:auto;
    margin-top:20px;
}
#successful > p{
    width:280px;
    padding-left:5px;
    margin-top:15px;
}
#successful > div{
    width:120px;
    height:50px;
    background:#282B2F;
    border-radius:5px;
    color:white;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    cursor:pointer;
}
#successful > div:hover{
    background:#535558;

}
#successful > div > a{
    text-decoration: none;
    color:white;
    width:100%;
    height:100%;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

@media (max-width:568px){


    #headercomprar{
        width:100%;
        height:80px;
        background:#282B2F;
        color:white;
        font-size:2em;
        display:inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-left:30px;
    }
}