.perfil{
    background-color: white;
    width: 100%;
    height: 15%;
    
}
.perfil_titulo_titulo{
    height: 76px;
}
.perfil_titulo > h1{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    align-items: center;
    margin-top: 29px;
    margin-left: 29px;
}
.editar_perfil{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.info > h1 {
    font-size: 8px;
    margin-top: 10px;
    text-align: start;
}
.correo{
    background-color: white;
    width: 14.6em;
    height: 3em;
    border-radius: 5px;

}
.user{
    background-color: white;
    width: 14.6em;
    height: 3em;
    border-radius: 5px;
    margin-top: 10px;

}
.curent_password{
    background-color: white;
    width: 14.6em;
    height: 3em;
    border-radius: 5px;
    margin-top: 10px;

}
.new_password{
    background-color: white;
    width: 14.6em;
    height: 3em;
    border-radius: 5px;
    margin-top: 10px;

}
.confirm_password{
    background-color: white;
    width: 14.6em;
    height: 3em;
    border-radius: 5px;
    margin-top: 10px;

}
.btn_save_perfil > button{
    background-color: #282B2F;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 24px;
    width: 146px;
    height: 34px;
    cursor: pointer;
    outline: none;
    border-top-style: hidden;
    border-bottom-style: hidden ;
    border-left-style: hidden;
    border-right-style: hidden;
}
.btn_save_perfil {
    margin-top: 20px;
}