.vendedor_info{
    height: 160px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 71px;
    justify-content: space-evenly;
}
.vendedor_username{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.vendedor_name > h1 {
    font-size: 1.1em;
}
.inventario_vendor > h1 {
    font-size: 1.1em;
}
.venta > h1 {
    font-size: 1.1em;
}
.vendedor_foto_imagen > img{
    width: 100px;
    height: 100px;
    border-radius: 150px;
}
.vendedor_inventario{
    width: 100%;
    height: auto;
}
.inventario_y_venta{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inventario{
    max-width: 1204px;
    margin-top: 50px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-flow: row wrap;
    margin-left: 10%;
}

.vendor_card-image {
    width: 90%;
    height: 75%;
    background: rgb(224, 224, 224);
    margin-top: 10px;
    border-radius: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
}
.vendor_card-info{
    width: 90%;
    height: 17%;
    margin-top: 10px;
}   
.inventario_vendor {
    padding-right: 50px;
}
.vendor_card-nft{
    width: 242px;
    height: 358px;
    margin: 2px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
@media (max-width:568px) {
    .vendedor_vendedor{
        display: flex;
    border-radius: 10px;
    width: 100%;
    margin-left: 1%;
    height: 117px;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    }
    .inventario {
        justify-content: center;
    margin-left: 12px;
    max-width: 1204px;
    margin-top: 50px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    display: inline-flex;
    flex-flow: row wrap;
    }
    .vendor_card-nft {
        width: 242px;
        height: 358px;
        margin: 2px;
        background: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .vendor_card-image {
        width: 90%;
        height: 75%;
        background: rgb(224, 224, 224);
        margin-top: 10px;
        border-radius: 18px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        overflow: hidden;
    }
}
